<app-navbar></app-navbar>

<div class="about-me-container">
  <div class="main-content animate__animated animate__fadeInUp">
    <div class="education-selection" *ngIf="showEducation">
      <div
        id="skills-section"
        class="skills-section animate__animated animate__fadeInUp"
      >
        <p style="font-size: 40px; color: #6b08a6">Academic Qualification</p>
      </div>

      <div>
        <p style="font-size: 25px; font-weight: bold">
          BSC.(Hons) in Software Engineering
        </p>
        <p>University of Kelaniya</p>
        <p>2022-present</p>
        <p>Current GPA - 3.40</p>
      </div>

      <div>
        <p style="font-size: 25px; font-weight: bold">
          Diploma In English Language
        </p>
        <p>British Way English Academy(2022)</p>
      </div>

      <div>
        <p style="font-size: 25px; font-weight: bold">
          St. Anthony's Girls' College, Kandy
        </p>
        <p>G.C.E. A/L-Physical Stream</p>
        <p>Combined Maths - A</p>
        <p>Physics - B</p>
        <p>Chemistry - B</p>
      </div>
    </div>

    <div class="education-selection" *ngIf="showSkills">
      <div
        id="skills-section"
        class="skills-section animate__animated animate__fadeInUp"
      >
        <p style="font-size: 40px; color: #6b08a6"> My Skills</p>
      </div>

      <div class="card-container">
        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">HTML</p>
          </mat-card-header>
          <img mat-card-image src="/assets/html.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">CSS</p>
          </mat-card-header>
          <img mat-card-image src="/assets/css.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">JavaScript</p>
          </mat-card-header>
          <img mat-card-image src="/assets/js.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">Angular</p>
          </mat-card-header>
          <img mat-card-image src="/assets/angular.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">Bootstrap</p>
          </mat-card-header>
          <img mat-card-image src="/assets/boot.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">SpringBoot</p>
          </mat-card-header>
          <img mat-card-image src="/assets/sringboot.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">Java</p>
          </mat-card-header>
          <img mat-card-image src="/assets/java.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">PHP</p>
          </mat-card-header>
          <img mat-card-image src="/assets/php.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">MySQL</p>
          </mat-card-header>
          <img mat-card-image src="/assets/mysql.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">Figma</p>
          </mat-card-header>
          <img mat-card-image src="/assets/figma.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">Git</p>
          </mat-card-header>
          <img mat-card-image src="/assets/git.png" alt="Image" />
        </mat-card>

        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="color: #6b08a6">Postman</p>
          </mat-card-header>
          <img mat-card-image src="/assets/post.png" alt="Image" />
        </mat-card>
      </div>
    </div>




    <div class="education-selection" *ngIf="showEducation">
      <div
        id="skills-section"
        class="skills-section animate__animated animate__fadeInUp"
      >
        <p style="font-size: 40px; color: #6b08a6">Curriculum Activities</p>
      </div>

      <div>
        <p style="font-size: 25px; font-weight: bold">
          Executive Committee Member
        </p>
        <p>IEEE Computer Society, University of Kelaniya</p>
      </div>

      <div>
        <p style="font-size: 25px; font-weight: bold">
          Executive Committee Member
        </p>
        <p>IEEE WIE Student Branch Affinity Group, University of Kelaniya.</p>
      </div>

      <div>
        <p style="font-size: 25px; font-weight: bold">
          Member
        </p>
        <p>Rotaract Club, University of Kelaniya</p>
      </div>
    </div>



  
  </div>
</div>

<app-footer></app-footer>
